<div class="footer">
    <div class="footer-container">
            <% if (locals.isLoggedIn) { %>
                <div class="footer-button-wrapper"><a href="/"><div><span>トップページ</span></div></a></div>
                <div class="footer-button-wrapper"><a href="/index"><div><span>メンバーリスト</span></div></a></div>
                <div class="footer-button-wrapper"><a href="/select"><div><span>参加者選択</span></div></div></a></div>
            <% } else {%>
                <div class="footer-button-wrapper"><a href="/"><div><span>トップページ</span></div></a></div>
                <div class="footer-button-wrapper"><a href="/login"><div><span>メンバーリスト</span></div></a></div>
                <div class="footer-button-wrapper"><a href="/login"><div><span>参加者選択</span></div></a></div>
            <% } %>
        
    </div>
    
</div>