<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Round</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.js"></script>
    <script type="module" src="/js/makeround.js"></script>
</head>
<body>
    <%- include('header'); %>
    <div class="result-container">
        <div class="result-wrapper">
            <div class="hoge">
                <h3>ラウンド作成結果</h3>
                <p>クロスで打つことを想定して組んでいるので、ストレートで打つ場合はクロスのペアをストレートに配置してください。</p>
                <table>
                    <tr><td>Aさん</td><td>Bさん</td></tr>
                    <tr><td>Cさん</td><td>Dさん</td></tr>
                </table>
                <p>この場合、AさんDさんペアとBさんCさんペアです。</p>
            </div>
        
            <div id="result-wrapper">
                <!-- 具体例はじめ 2面の場合-->
                <!-- <div class="round-wrapper">
                    <h3 class="round-title">1st_ROUND</h3>
                    <table border="1" class="round" id="round-11">
                        <tr>
                            <td id="0">Aさん</td>
                            <td id="1">Bさん</td>
                        </tr>
                        <tr>
                            <td id="2">Cさん</td>
                            <td id="3">Dさん</td>
                        </tr>
                    </table>
                    <table border="1" class="round" id="round-12">
                        <tr>
                            <td id="4">Eさん</td>
                            <td id="5">Fさん</td>
                        </tr>
                        <tr>
                            <td id="6">Gさん</td>
                            <td id="7">Hさん</td>
                        </tr>
                    </table>
                </div>
        
                <div class="round-wrapper">
                    <h3 class="round-title">2nd_ROUND</h3>
                    <table border="1" class="round" id="round-21">
                        <tr>
                            <td id="8">Aさん</td>
                            <td id="9">Bさん</td>
                        </tr>
                        <tr>
                            <td id="10">Cさん</td>
                            <td id="11">Dさん</td>
                        </tr>
                    </table>
                    <table border="1" class="round" id="round-22">
                        <tr>
                            <td id="12">Eさん</td>
                            <td id="13">Fさん</td>
                        </tr>
                        <tr>
                            <td id="14">Gさん</td>
                            <td id="15">Hさん</td>
                        </tr>
                    </table>
                </div> -->
                <!-- 具体例おわり -->
        
        
            </div>
        </div>
    </div>

    <%- include('footer'); %>
</body>
</html>