<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Make Round</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <%- include('header'); %>
        
        <div class="contents">
            <div class="main">
                <div class="cool-wrapper">
                    <div class="container">
                        <h2>ラウンド自動生成アプリ</h2>
                        <h1>MakeRound</h1>
                    </div>
                </div>
                <div class="description">
                    <p id="username-call">
                        <% if (locals.isLoggedIn) { %>
                            ようこそ、<%= locals.userName %>さん
                        <% } else { %>
                            ようこそ、ゲストさん
                        <% } %>
                        </p>

                    <h2>How to Use?</h2>
            
                    <div class="description-wrapper">
                        <ul>
                            <li>
                                <h3>1.新規登録/ログイン</h3>
                                <p>初めてご利用される方はまず新規登録してください。
                                    <br>既にユーザー登録がお済みの方はログインしてください。
                                </p>
                            </li>
                            <li>
                                <h3>2.メンバー登録</h3>
                                <p>メンバーリストでメンバーを登録してください。</p>                                
                            </li>
                            <li>
                                <h3>3.ラウンド参加者選択</h3>
                                <p>本日の練習参加者をメンバーリストから選択してください</p>
                            </li>
                            <li>
                                <h3>4.ラウンド条件入力</h3>
                                <p>ラウンドの条件を入力してください。</p>                                
                            </li>
                            <li>
                                <h3>5.ラウンドを組む</h3>
                                <p>すべて入力ができたら「ラウンドを組む」ボタンを押してください。<br>生成したラウンドが表示されます。</p>                                
                            </li>
                        </ul>
                    
                    </div>
                
                </div>
    
            </div>
        </div>
            
        <%- include('footer'); %>

        <!-- <script src="/js/func.js"></script>  -->
    </body>
</html>