@charset "utf-8";
/* 全ページ共通 */
body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

.contents {
    display: flex;
}

/* header.ejs */
.header {
    background-color: #fff;
}

/* aside.ejs */
.ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* 各ページ */
/* top.ejs */
.main {
    flex: 1;
}

.cool-wrapper {
    background-image: url(/images/IMG_0879.jpeg);
    background-size: cover;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 100px 0 100px 0;
}

.cool-wrapper .container {
    margin: 0 auto;
}

.cool-wrapper p {
    color: #FFFFFF;
    opacity: 0.7;
    margin: 0;
}
.cool-wrapper h1, .cool-wrapper h2 {
    color: #FFFFFF;
    opacity: 0.7;
    margin: 0;
}

.description h2 {
    text-align: center;
}

.description-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*  */
.btn {
    border: 1px solid #c4c3c3;
    border-radius: 5px;
    padding: 0 7px;
    font-size: 12px;
    background-color: #fff;
    height: 20px;
}

.btn:hover {
    background-color: #2a4bcb;
    color: #fff;
}

/* select.ejs */
.select-contents {
    display: flex;
}

.list_item
{
    margin : 2px 0px 2px ;
    padding : 5px 0px 5px;
    border-radius : 10px ;
    text-align : center ;
    background : #DDDDDD ;
    /* display : inline-block ; */
    width: 100%;
}
.list_item:active
{
    background : #555555 ;
}
.checked
{
    color : #FFFFFF ;
    background : #888888 ;
}


.table-body, #round-set-wrapper
{
    width: 100%;
    height: 150px;
    padding: 0px;
    overflow: auto;
}

.table-body .hidden {
    display: none;
}

/* responsive */
@media screen and (max-width: 600px) {
    /* header.ejs */
    .header {
        /* position: relative; */
        position: fixed;
        height: 50px;
        width: 100%;
        z-index: 10;
        border-bottom: solid 2px #888888;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
    }

    .log-management-wrapper {
        display: flex;
        width: 180px;
    }

    .header-button-wrapper {
        text-align: center;
        width: 100%;
    }

    .header-button-wrapper a {
        margin: auto;
        text-decoration: none;
    }

    .header-button-wrapper a div {
        font-size: 12px;
        background: rgba(33, 33, 33, 0.5);
        border-radius: 5px;
        width: 70%;
        height: 70%;
        margin:7.5px auto;
    }

    .header-button-wrapper span {
        color: antiquewhite;
        font-weight: bold;
        display: inline-block;
        margin: 8.5px auto;
    }

    #login-button, #logout-button {
        padding: 0px 12px;
        width: 100%;
        color: #888888;
        font-weight: bold;
        display: inline-block;
        margin: 13px auto;
        text-align: center;
    }

    #login-button a, #logout-button a {
        text-decoration: none;
        display: inline-block;
    }

    #signup-button a {
        padding: 0px 12px;
    }

    /* footer.ejs */
    .footer {
        position: fixed;
        bottom: 0px;
        height: 50px;
        width: 100%;
        background: #FFFFFF;
        z-index: 10;
        border-top: solid 2px #888888;
    }

    .footer-container, .footer-container .button-wrapper {
        height: 100%;
    }

    .footer-container {
        display: flex;
    }

    .footer-button-wrapper {
        width: 33%;
        text-align: center;
        
    }

    .footer .footer-container div:nth-child(2) {
        margin: 0px 0.5%;
    }

    .footer-button-wrapper a {
        margin: auto;
        text-decoration: none;
    }

    .footer-button-wrapper a div {
        font-size: 12px;
        background: rgba(33, 33, 33, 0.5);
        border-radius: 5px;
        width: 70%;
        height: 70%;
        margin:7.5px auto;
    }

    .footer-button-wrapper span {
        color: antiquewhite;
        font-weight: bold;
        display: inline-block;
        margin: 8.5px auto;
    }

    /* top.ejs */
    .main {
        width: 100%;
        /* padding-top: 50px; */
    }

    .description-wrapper {
        padding: 0 20px;
    }

    .description-wrapper li {
        padding-top: 10px;
        padding-bottom: 15px;
        border-bottom: 2px solid #f0f0f0;
    }

    #username-call {
        text-align: right;
        padding: 0px 20px;
    }

    /* login.ejs */
    .login-contents {
        padding: 50px 10px 0px;
    }
    
    .login {
        padding: 30px;
        margin-top: 50px;
        border: solid 1px olive;
        border-radius: 5px;
    }

    .login-panel h3 {
        text-align: center;
    }

    .login-panel form {
        text-align: center;
        display: flex;
        flex-flow: column;
    }

    .login-panel form input {
        padding: 5px;
        margin-top: 20px;
    }

    .login-panel .submit-button {
        width: 80px;
    }

    .login-panel form div {
        text-align: center;
    }
    /* signup.ejs */
    .signup-contents {
        padding: 50px 10px 0px;
    }

    .sign {
        padding: 30px;
        margin-top: 50px;
        border: solid 1px olive;
        border-radius: 5px;
    }

    .signup-panel h3 {
        text-align: center;
    }

    .signup-panel form {
        text-align: center;
        display: flex;
        flex-flow: column;
    }

    .signup-panel form input {
        padding: 5px;
        margin-top: 20px;
    }

    .signup-panel .submit-button {
        width: 80px;
    }

    .signup-panel form div {
        text-align: center;
    }

    /* index.ejs */
    .index-contents-wrapper {
        padding: 50px 0px 50px;
    }

    .index-contents {
        padding: 0 30px;
    }

    .members-data-table {
        height: 250px;
        overflow: scroll;
    }

    .member-data-wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: solid 1px slategray;
    }

    .member-menu {
        display: flex;
    }

    /* edit.ejs */
    .editor-container {
        padding: 50px 0px 50px;
    }

    .editor-wrapper {
        padding: 0px 30px;
    }

    .value-wrapper div {
        margin-bottom: 10px;
    }

    .update-wrapper {
        margin-top: 40px;
        text-align: center;
    }

    .update-wrapper input, .update-wrapper a {
        display: inline-block;
    }
    
    .update-wrapper input {
        margin-right: 50px;
    }

    /* select.ejs */
    .select-contents {
        padding: 50px 0px 50px;
    }

    .settings-wrapper {
        width: 100%;
        padding: 0 30px;
    }

    .search-area form {
        text-align: center;
    }

    .settings-wrapper .table-body {
        height: 300px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow: scroll;
    }

    .settings-wrapper .list_item {
        width: 150px;
    }

    .participants-wrapper {
        height: 150px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow: scroll;
    }

    #makeround-btn-wrapper {
        width: 100%;
    }

    #makeround-btn-wrapper #target {
        text-decoration: none;
    }

    #makeround-btn-wrapper #makeround {
        margin: 50px auto;
        height: 40px;
        width: 150px;
        text-align: center;
        color: antiquewhite;
        font-weight: bold;
        font-size: 13px;
        background: rgba(33, 33, 33, 0.5);
        border-radius: 5px;
        /* display: inline-block; */
        /* margin: 8.5px auto; */
    }

    #makeround span {
        display: inline-block;
        margin: 10px auto;
    }

    /* result.ejs */
    .result-container {
        padding: 50px 0px 50px;
    }

    .result-wrapper {
        padding: 0 30px;
    }
}